<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#"><%= title %></a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
            <li><a href="#about">About</a></li>
            <li><a href="#homeservices">Services</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#login">Login</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="active item">
            <center><a href="#homeservices"><img src="https://quade.co/wp-content/uploads/2013/04/QuadeWebDesign1.png"/></a></center>
            <div class="carousel-caption">
                <p><a href="#homeservices">Learn more about my premium web design services.</a></p>
            </div>
        </div>
        <div class="item">
            <center><a href="#homeservices"><img src="https://quade.co/wp-content/uploads/2013/04/QuadeWebHosting1.png"/></a></center>
            <div class="carousel-caption">
                <p><a href="#homeservices">Learn more about my premium web hosting services.</a></p>
            </div>
        </div>
        <div class="item">
            <center><a href="#homeservices"><img src="https://quade.co/wp-content/uploads/2013/04/QuadeAppDevelopment1.png"/></a></center>
            <div class="carousel-caption">
                <p><a href="#homeservices">Learn more about my premium app development services.</a></p>
            </div>
        </div>
        <div class="item">
            <center><a href="#homeservices"><img src="https://quade.co/wp-content/uploads/2013/04/QuadeComputers1.png"/></a></center>
            <div class="carousel-caption">
                <p><a href="#homeservices">Learn more about my premium computer services.</a></p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="page-header">
        <h1>About <small>I'm William Quade, a technology enthusiast.</small></h1>

        <div class="row-fluid">
            <div class="span2" style="margin-top: 20px;">
                <ul class="thumbnails">
                    <li class="spanhomeprofile">
                        <img src="https://quade.co/wp-content/uploads/2013/04/WilliamQuade2013FullSquare256.jpg" alt="William Quade">
                    </li>
                </ul>
            </div>
            <div class="span3">
                <h2>
                    Personal
                </h2>
                <p>
                    I have lived all my life in Lincoln, Nebraska.
                    From a very young age I was fascinated with how things worked.
                    Over time I became more and more interested with learning more about technology and how it works.
                </p>
                <p>
                    <a class="btn" href="#">Learn more »</a>
                </p>
            </div>
            <div class="span3">
                <h2>
                    Work
                </h2>
                <p>
                    I am currently employed as a programmer at Phoenix Web Group.
                    I also provide freelance technology services to local clients like Sinclair Hille Architects.
                    In the past I ran a technology news, tutorials, and reviews blog called ZL Studios.
                </p>
                <p>
                    <a class="btn" href="#">Learn more »</a>
                </p>
            </div>
            <div class="span3">
                <h2>
                    Education
                </h2>
                <p>
                    I attended Lincoln East High School and was part of the Information Technology Focus Program.
                    Although I learned a lot at school the majority of my technology education comes from my experiences running ZL Studios.
                </p>
                <p>
                    <a class="btn" href="#">Learn more »</a>
                </p>
            </div>
        </div>

        <h1>Services <small>I provide freelance technology services.</small></h1>
        <h1>Contact <small>Need more information? Then please contact me.</small></h1>
    </div>


  <hr>

  <footer>
    <p>Copyright &copy; 2013 William Quade</p>
  </footer>

</div> <!-- /container -->