<script type="text/javascript">
    $(document).ready(function() {
        var random = Math.floor((Math.random()*17)+0);
        $('.carousel').carousel(random);
    });
</script>

<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="active item">
            <center><img src="/img/minecraft/Arena.jpg"/></center>

        </div>
        <div class="item">
            <center><img src="/img/minecraft/CaveHouse.jpg"/></center>

        </div>
        <div class="item">
            <center><img src="/img/minecraft/CreeperDiamond.jpg"/></center>>
        </div>
        <div class="item">
            <center><img src="/img/minecraft/CreeperLedge.jpg"/></center>
 
        </div>
        <div class="item">
            <center><img src="/img/minecraft/Diamonds.jpg"/></center>
 
        </div>
        <div class="item">
            <center><img src="/img/minecraft/FlyingPigs.jpg"/></center>
 
        </div>
        <div class="item">
            <center><img src="/img/minecraft/Helping.jpg"/></center>
 
        </div>
        <div class="item">
            <center><img src="/img/minecraft/LakeHouse.jpg"/></center>
 
        </div>
        <div class="item">
            <center><img src="/img/minecraft/NightCastle.jpg"/></center>
 
        </div>
        <div class="item">
            <center><img src="/img/minecraft/SpawnSide.jpg"/></center>
 
        </div>
        <div class="item">
            <center><img src="/img/minecraft/SpawnWalking.jpg"/></center>
 
        </div>
        <div class="item">
            <center><img src="/img/minecraft/Spider.jpg"/></center>
 
        </div>
        <div class="item">
            <center><img src="/img/minecraft/SunsetCastle.jpg"/></center>
 
        </div>
        <div class="item">
            <center><img src="/img/minecraft/SunsetGarden.jpg"/></center>
 
        </div>
        <div class="item">
            <center><img src="/img/minecraft/Walking.jpg"/></center>
 
        </div>
        <div class="item">
            <center><img src="/img/minecraft/WarpGrief.jpg"/></center>
 
        </div>
        <div class="item">
            <center><img src="/img/minecraft/Water.jpg"/></center>
 
        </div>
        <div class="item">
            <center><img src="/img/minecraft/WaterTunnel.jpg"/></center>
 
        </div>
    </div>
</div>


<div class="container">
    <div class="page-header">


        <div class="well">
            <h1>Minecraft Hosting <small>I can host, and manage your Minecraft server.</small></h1>

            <div class="row-fluid">
                <div class="span3">
                    <h2>
                        Web Design
                    </h2>
                    <p>
                        I offer web design and web development services. I have experience with languages like PHP, MySQL, and Node.js,
                        as well as platforms like WordPress.
                    </p>
                    <p>
                        <a class="btn btn-inverse" href="#">Learn more »</a>
                    </p>
                </div>
                <div class="span3">
                    <h2>
                        Web Hosting
                    </h2>
                    <p>
                        I provide speedy managed web hosting services based in several US locations. My hosting is powered by optimized Linux
                        based application stacks.
                    </p>
                    <p>
                        <a class="btn btn-inverse" href="#">Learn more »</a>
                    </p>
                </div>
                <div class="span3">
                    <h2>
                        Mobile Apps
                    </h2>
                    <p>
                        If you or your business are interested in having your own iPhone or iPad application I can develop and publish your application
                        in the Apple App Store.
                    </p>
                    <p>
                        <a class="btn btn-inverse" href="#">Learn more »</a>
                    </p>
                </div>
                <div class="span3">
                    <h2>
                        Computers
                    </h2>
                    <p>
                        I build custom computers designed to best meet your requirements, from a custom built gaming machine, to an affordable system for
                        browsing the web.
                    </p>
                    <p>
                        <a class="btn btn-inverse" href="#">Learn more »</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p style="float: left;"><a href="#">Return to top</a></p>
        <p style="float: right;">Copyright &copy; 2013 William Quade</p>
    </footer>

</div> <!-- /container -->
