<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="active item">
            <center><a href="#homeservices"><img src="https://quade.co/wp-content/uploads/2013/04/QuadeWebDesign1.png"/></a></center>
            <div class="carousel-caption">
                <p><a href="#homeservices">Learn more about my premium web design services.</a></p>
            </div>
        </div>
        <div class="item">
            <center><a href="#homeservices"><img src="https://quade.co/wp-content/uploads/2013/04/QuadeWebHosting1.png"/></a></center>
            <div class="carousel-caption">
                <p><a href="#homeservices">Learn more about my premium web hosting services.</a></p>
            </div>
        </div>
        <div class="item">
            <center><a href="#homeservices"><img src="https://quade.co/wp-content/uploads/2013/04/QuadeAppDevelopment1.png"/></a></center>
            <div class="carousel-caption">
                <p><a href="#homeservices">Learn more about my premium app development services.</a></p>
            </div>
        </div>
        <div class="item">
            <center><a href="#homeservices"><img src="https://quade.co/wp-content/uploads/2013/04/QuadeComputers1.png"/></a></center>
            <div class="carousel-caption">
                <p><a href="#homeservices">Learn more about my premium computer services.</a></p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="page-header">
        <div class="well">
            <h1>About <small>I'm William Quade, a technology enthusiast.</small></h1>

            <div class="row-fluid">
                <div class="span2" style="margin-top: 20px;">
                    <ul class="thumbnails">
                        <li class="spanhomeprofile">
                            <img src="https://quade.co/wp-content/uploads/2013/04/WilliamQuade2013FullSquare256.jpg" alt="William Quade">
                        </li>
                    </ul>
                </div>
                <div class="span3">
                    <h2>
                        Personal
                    </h2>
                    <p>
                        I have lived all my life in Lincoln, Nebraska.
                        From a very young age I was fascinated with how things worked.
                        Over time I became more and more interested with learning more about technology and how it works.
                    </p>
                    <p>
                        <a class="btn btn-inverse" href="#">Learn more »</a>
                    </p>
                </div>
                <div class="span3">
                    <h2>
                        Work
                    </h2>
                    <p>
                        I am currently employed as a programmer at Phoenix Web Group.
                        I also provide freelance technology services to local clients like Sinclair Hille Architects.
                        In the past I ran a technology news, tutorials, and reviews blog called ZL Studios.
                    </p>
                    <p>
                        <a class="btn btn-inverse" href="#">Learn more »</a>
                    </p>
                </div>
                <div class="span3">
                    <h2>
                        Education
                    </h2>
                    <p>
                        I attended Lincoln East High School and was part of the Information Technology Focus Program.
                        Although I learned a lot at school the majority of my technology education comes from my experiences running ZL Studios.
                    </p>
                    <p>
                        <a class="btn btn-inverse" href="#">Learn more »</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="well">
            <h1>Services <small>I provide freelance technology services.</small></h1>

            <div class="row-fluid">
                <div class="span3">
                    <h2>
                        Web Design
                    </h2>
                    <p>
                        I offer web design and web development services. I have experience with languages like PHP, MySQL, and Node.js,
                        as well as platforms like WordPress.
                    </p>
                    <p>
                        <a class="btn btn-inverse" href="#">Learn more »</a>
                    </p>
                </div>
                <div class="span3">
                    <h2>
                        Web Hosting
                    </h2>
                    <p>
                        I provide speedy managed web hosting services based in several US locations. My hosting is powered by optimized Linux
                        based application stacks.
                    </p>
                    <p>
                        <a class="btn btn-inverse" href="#">Learn more »</a>
                    </p>
                </div>
                <div class="span3">
                    <h2>
                        Mobile Apps
                    </h2>
                    <p>
                        If you or your business are interested in having your own iPhone or iPad application I can develop and publish your application
                        in the Apple App Store.
                    </p>
                    <p>
                        <a class="btn btn-inverse" href="#">Learn more »</a>
                    </p>
                </div>
                <div class="span3">
                    <h2>
                        Computers
                    </h2>
                    <p>
                        I build custom computers designed to best meet your requirements, from a custom built gaming machine, to an affordable system for
                        browsing the web.
                    </p>
                    <p>
                        <a class="btn btn-inverse" href="#">Learn more »</a>
                    </p>
                </div>
            </div>
        </div>


        <div class="well">
            <h1>Contact <small>Need more information? Then please contact me.</small></h1>

            <div class="row-fluid">
                <div class="span3">
                    <h2>
                        Form
                    </h2>
                    <p>
                        If you would like to fill out a form to contact me
                        then <a href="https://docs.google.com/forms/d/1ClkkHrndlhzMcpHiPHvf0acWHMvFGEuDM5kDCX2j65A/viewform">please fill out this form</a>.
                    </p>
                </div>
                <div class="span3">
                    <h2>
                        Email
                    </h2>
                    <p>
                        If you would like to email me directly please direct your message to <a href="mailto:liam@quade.co">liam@quade.co</a>.
                    </p>
                </div>
                <div class="span4">
                    <h2>
                        Telephone
                    </h2>
                    <p>
                        If you would like to call me please send me your telephone number through the form or email and I'll get back to you.
                    </p>
                </div>
                <div class="span2">
                    <h2>
                        Social
                    </h2>
                    <p>
                        <a href="http://facebook.com/williamquade">Facebook</a>
                        <br>
                        <a href="http://twitter.com/WilliamQuade">Twitter</a>
                        <br>
                        <a href="https://plus.google.com/107173102152863091716/posts">Google+</a>
                        <br>
                        <a href="http://youtube.com/cusinndzl">YouTube</a>
                        <br>
                        <a href="http://www.linkedin.com/in/williamquade">LinkedIn</a>

                    </p>
                </div>
            </div>
        </div>


    </div>

    <footer>
        <p style="float: left;"><a href="#">Return to top</a></p>
        <p style="float: right;">Copyright &copy; 2013 William Quade</p>
    </footer>

</div> <!-- /container -->